@import '~antd/dist/antd.css';


.hm_hyperModalWrapper {
  z-index: 200 !important;
}

.hm_hyperModalContentWrapper {
  height: max-content !important;
  max-height: 80vh !important;
  /* overflow: hidden; */
}

.hm_hyperCloseIconWrapper {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hm_hyperModalContentWrapper {
    width: 95% !important;
  }
}

button {
  text-transform: capitalize !important;
}

.myTable {
  background: rgb(240, 239, 239) !important;
}

.__site_logo {
  color: #fff !important;
  font-size: 30px;
}
a {
  text-decoration: none !important;
}

.__clicked {
  color: #fff;
}

.__clicked svg {
  color: #fff;
}

.__not_active {
  color: rgb(214, 214, 214) !important;
}
.__not_active svg {
  color: rgb(214, 214, 214) !important;
}

/* .__product_search_container {
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 900px) {
  .__product_search_container {
    flex-direction: column;
  }
  .__product_search_container form {
    width: 50%;
    min-width: 200px;
  }
} */


.__table_cell_bg:nth-child(odd) {
  background: rgb(240, 239, 239) !important;
}

.__graph_wrapper > div {
  height: unset !important;
}

.__qr_code {
  width: 75px !important;
  /* margin: 5px; */
}
.__qr_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.488188976px;
  width: 113.38582677px;
  margin: 1px;
}

.__create_button {
  color: #fff !important;
    background: #5c9499 !important;
    height: 34px !important;
    border-radius: 4px !important;
    margin: 18px !important;
    padding: 0 19px !important;
    width: 165px !important;
}
.__create_button:hover {
  background: #387075 !important;
}

td {
  text-transform: capitalize;
}

.MuiChip-root {
  width: max-content !important;
  height: 21px !important;
}