@import '~antd/dist/antd.css';


.hm_hyperModalWrapper {
  z-index: 200 !important;
}

.hm_hyperModalContentWrapper {
  height: max-content !important;
  max-height: 80vh !important;
  /* overflow: hidden; */
}

.hm_hyperCloseIconWrapper {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hm_hyperModalContentWrapper {
    width: 95% !important;
  }
}

button {
  text-transform: capitalize !important;
}

.myTable {
  background: rgb(240, 239, 239) !important;
}

.__site_logo {
  color: #fff !important;
  font-size: 30px;
}
a {
  text-decoration: none !important;
}

.__clicked {
  color: #fff;
}

.__clicked svg {
  color: #fff;
}

.__not_active {
  color: rgb(214, 214, 214) !important;
}
.__not_active svg {
  color: rgb(214, 214, 214) !important;
}

.__money {
  color: #0087d3 !important;
}


.__table_cell_bg:nth-child(odd) {
  background: rgb(240, 239, 239) !important;
}

.__graph_wrapper > div {
  height: unset !important;
}

.__qr_code {
  width: 75px !important;
  /* margin: 5px; */
}
.__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.__qr_wrapper {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.488188976px;
  /* height: 100vh; */
  width: 113.38582677px;
  /* width: 100vw; */
  margin: 0px;
}

.__create_button {
  color: #fff !important;
    background: #5c9499 !important;
    height: 34px !important;
    border-radius: 4px !important;
    margin: 18px !important;
    padding: 0 19px !important;
    width: 165px !important;
}
.__create_button:hover {
  background: #387075 !important;
}

td {
  text-transform: capitalize;
}

.MuiChip-root {
  width: max-content !important;
  height: 21px !important;
}

.DR {
  color: rgb(210, 0, 0) !important;
}
.CR {
  color: #0087d3 !important;
}
.rejected {
  font-style: italic !important;
}